{% extends "core/email.html" %}

{% block content %}
    {% for res_by_meal in reservations_by_meal %}
        <h3>Récapitulatif des réservations pour {{ res_by_meal.meal.name }}</h3>
        {% for res in res_by_meal.reservations %}
        <p><strong>Date : {{ res.date }}</strong></p>
        <p>Nombre de réservations : {{ res.count }}</p>
        <p>Enseignant·e·s</p>
        <ul>
            {% for person in res.names %}
            {% if person.is_teacher %}
            <li>{{ person.name }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        <p>Autres</p>
        <ul>
            {% for person in res.names %}
            {% if not person.is_teacher %}
            <li>{{ person.name }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}
    {% endfor %}
{% endblock %}
